.act-btn-scores {
    background-color: #00970d;
    box-shadow: 0 5px 0 #01680a;
    color: white;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: #00970d;
}

.act-btn-scores:hover {
  background-color: #01850c;
  outline: none;
}

.act-btn-scores:active {
  box-shadow: none;
  top: 5px;
  outline: none;
}