.brick-margin-top {
    margin-top: 8%;
    margin-left: 7%;
}

#brickbreakerresetbutton {
    background: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

#buttonsDiv {
    display: block;
    margin: 0px auto;
}

#leftArrowButton {
    margin-right: 5px;
}

#leftArrowButton, 
#rightArrowButton,
#upArrowButton,
#downArrowButton {
    height: 50px;
    width: 75px;
    background-color:black;
    border:none;
    outline:none;
}

#upArrowButton,
#downArrowButton {
    display:block;
    margin: 0px auto;
}

.fas::before{
    font-size: 2em;
    color:white;
}