#loseMessage {
    display:none;
}

canvas {
    border:2px solid black;
}

#wrapper {
    margin-top:50px;
    text-align: center;
}

#snakeLoseMessage {
    display: none;
}

.snake-margin-top {
    margin-top: 6%;
    margin-left: 7%;
}

#snakeresetbutton {
    background: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    color: white;
}