#battleGameloseMessage {
    display:none;
}

#battleGameResetButton, #beginGame, #sendMissile {
    background: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 10px;
}

#battleGameCanvas {
    border: 2px solid green;
    margin-top: 3%;
    margin-right: 22%;
    background-color: blue;
    margin-left: 2%
}

#missilesFired, #hits, #sunken {
    display: block;
    font: bold;
    border: 10px;
    color: white;
    border-color: green;
    border: 10px;
    border-color: green;
}

#container {
    margin-right: 270px;
}

#missilesFired, #hits, #fired, #hit {
    display: inline-block;
}

#fired {
    margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
    #battleGameCanvas {
        width: 30%;
        margin-right: 25%;
    }

    #battleGameResetButton, #beginGame, #sendMissile {
        padding: 5px;
        margin: 10px;
    }

    #container {
        margin-right: 230px;
    }
}

@media only screen and (max-width: 1000px) {
    #battleGameCanvas {
        width: 70%;
        margin-right: 0%;
    }

     #container {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 750px) {
    #battleGameCanvas {
        width: 80%;
    }
}

 /* todo--randomize ship placement
 --give player options where to shoot--sunday
 --make an expolsion pop up when they make a hit
 --make a splash image pop up when they make no hit
 --make something happen when you sink a battleship--name the battleship sunk and give alert--sunday(1)
 --what is game
 a) how many missiles does it take to sink all the battleships
 
 --HOW TO SCORE
 --"You sank all the battleships with blank missiles"
 --connect score to update database
 --post scores on high scores

 --tasks
 put in card --sunday /monday
 get on react page sunday/monday
 connect scores--monday//tuesday */
