.card-img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-text {
    color: white;
}

.carousel-text:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 2000px) {
    .margin-top {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .margin-top {
        margin-top: 75px;
    }

    .card-img {
        height: 200px;
    }  
}

@media only screen and (max-width: 1020px) {
    .margin-top-small {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 750px) {
    .card-img {
        height: 100px;
    }  
}