.card-img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin-top {
    margin-top: 200px;
}

.carousel-text {
    color: white;
}

.carousel-text:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1020px) {
    
}