#sign-up-email,
#sign-up-password,
#sign-in-email,
#sign-in-password {
    display: inline-block;
    width: 80%;
    margin: 8px;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
}

#sign-up-button,
#sign-in-button {
    border-radius: 20px;
    padding: 10px;
    color: white;
    /* background-color: green;
    border-color: green; */
}

#sign-in-button {
    padding: 10px 20px;
}

#sign-up-button:hover,
#sign-in-button:hover {
    cursor: pointer;
    /* background-color: green;
    border-color: green; */
}

/* .modal-btn {
    background-color: green;
    border-color: green;
}

.modal-btn:hover {
    background-color: green;
    border-color: green;
} */