.highscores {
    display: block;
    max-height: 550px;
    width: 500px;
    overflow: scroll;
    margin-top: 5%;
    margin-left: 25%;
    background: none;
    color: white;
}

.table {
    color: white;
}

.initials-col {
    min-width: 250px;
}