/* .highscores{
    
    display:block;
    background-color: none;
   color:white;
    margin-top: 5%;
    margin-right:30%;
 
   width: 800px;
   overflow: scroll;
   max-height:550px;
}
.table {
    color: white;
} */

